html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: url(./images/image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: 100%;
}

#main {
    min-height: 100vh; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    padding-top: 80px; 
    box-sizing: border-box; 
}

.header-bar {
    background-color: rgb(60, 40, 10); 
    padding: 25px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-bar-h1 {
    margin: 0;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 4px 4px black;
}


.form-container, .order-container {
    background-color: rgb(176, 167, 155);
    padding: 20px;
    border-radius: 25px;
    color: black;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 40px; 
}

.form-container h2, .order-container h2 {
    margin-bottom: 30px;
    font-family: cursive;
    color: black;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    width: 27%;
    margin-right: 25px;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-group input ,.form-group select{
    width: 48%; 
    padding: 8px; 
    border: 1px solid black;
    border-radius: 4px;
}

.reserve-btn, .select-btn, .done-btn {
    background-color: rgb(53, 34, 5);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
}

.reserve-btn:hover, .done-btn:hover {
    background-color: rgb(128, 89, 29);
}

.order-summary {
    margin-top: 20px;
}

.order-summary h3 {
    font-size: 1.5rem;
    color: rgb(60, 40, 10);
}

.order-summary ul {
    list-style-type: none;
    padding: 0;
}

.order-summary li {
    margin: 5px 0;
    font-size: 1.2rem;
}